body{
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial;
}
.padding_site{
     padding: 50px;
    box-sizing: border-box;
}
.main_header {
    width: 100%;
   /* min-height: 323px; */
    background-color: #445162;
    color: #fff;
}

.main_header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main_header_wrp {
  width: 400px;
  float: left;
  box-sizing: border-box;
}

.main_header_title {
    display: block;
    margin: 0 0 20px 0;
    font-size: 45px;
    font-weight: bold;
}

.main_header_list {
    margin: 0;
    padding: 0 0px 0 25px;
    list-style-type: none;
}

/*.main_header_list:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;*/

.main_header_list li {
    position: relative;
    margin: 0 0 5px 0;
}

.main_header_list li:nth-child(4) {
   margin: 0;
}

.main_header_list li:before {
   content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -1px;
  left: -26px;
  background-image: url('../img/layers.png');
  background-size: cover;
}

.main_header_photo {
   display: block;
  float: right;
box-sizing: border-box; 
  min-width: 469px;
  min-height: 214px;
  background-color: #fff;
  color: black;
}

.main_content {
     width: 1280px;
    height: 2863px;
}

.main_aticle_content {
    margin-top: 50px;
    list-style-type: none;
    box-sizing: border-box;
    display: inline-block;
    min-height: 344px;
}

.main_aticle_content:after{
     content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main_aticle_content_h2 {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    height: 28px;
    width: 254px;
}

.main_aticle_content_p1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    height: 63px;
    width: 649px;
}

.main_aticle_content_p2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    height: 63px;
    width: 649px;
}

.main_aticle_content_video {
    background-color: #445161;
    width: 430px;
    height: 245px;
    float: right;
    box-sizing: border-box;
    margin-right: 50px;
    margin-top: 50px;
}

.main_section {
    background-color: #f5f5f5;
    min-height: 500px;
}

.main_section:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main_section_h2 {
    margin: 0;
    /*font-size: 30px;
    line-height: 36px;
    font-weight: 400;*/
    color: #445161;
    text-align: center;
    padding-bottom: 28px;
}

.main_section_list {
  margin: 0 auto;
    /*font-size: 16px;
    line-height: 24px;
    font-weight: 400;*/
    color: #333333; 
}

.main_section_list li{
    display: block;
    width: 50%;
    float: left;
    padding-bottom: 35px;
    position: relative;
    max-width: 526px;
    padding-right: 44px;
}

.main_section_list li:before {
   content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
    float: left;
  top: 4px;
  left: -40px;
  background-image: url('../img/plus.png');
  background-size: cover;
}

.main_section_list linth-child(2){
    padding-right: 0;
}

.main_section_list linth-child(4){
    padding-right: 0;
}

.main_section_list linth-child(6){
    padding-right: 0;
}
